body {
    background-color: $red;
    // background-image: url(../images/bg-intro-mobile.png);
    // z-index: 0;
    color: white;
    padding: 1rem;
    font-family: $font;
    overflow: hidden;
}
body::after {
    content: '';
    // z-index: -1;
    background-image: url(../images/bg-intro-mobile.png);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;;
}
main {
    margin: 0 auto;
    min-width: 327px;
    max-width: 450px;
    z-index: 2;
    flex-direction: column;
}

h1{
    font-size: 1.75rem;
    font-weight: bold;
    margin: 1rem auto;
    max-width: 350px;
}
p {
    margin: 1rem;
}

.price {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: $blue;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 7px 0 0 hsla(249, 10%, 26%, .2);
    h2 {
        text-align: center;
        margin: 0 auto;
        max-width: 230px;

    }

    span {
        color: white;
        font-weight: bolder;
    }
}

form {
    color: $dark-Blue;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 7px 0 0 hsla(249, 10%, 26%, .2);
    p {
        text-align: center;
        color: $grayish-Blue;
        margin: 0 2rem;
        font-size: 0.6875rem;
        font-weight: 400;
    }
}
input {
    color: $dark-Blue;
    font-size: 0.875rem;
    width: 100%;
    padding: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: .5rem;
    border: .5px solid $grayish-Blue;
    cursor: pointer;
}
input:focus {
    outline-color: $blue;

}
.input + .input {
    margin-top: 1rem;
}
.input {
    position: relative;
    text-transform: none;
    p {
        display: none;
        color: $red;
        text-align: right;
        margin: .3rem 0;
        font-size: 11px;
        font-weight:500;
        font-style: italic;;
    }
    img {
        display: none;
        max-width: 30px;
        position: absolute;
        top: 15%;
        right: 4%;
    }
}
.error {
    input {
        color: $red;
        border: 1px solid $red;
    }
    input:placeholder-shown {
        color: $red;
    }
    p {
        display: block;
    }
    img {
        display: block;
    }
    ::placeholder {

        color: transparent;
    }
}

button {
    color: white;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    background-color: $green;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 5px 0 0 hsl(154, 59%, 40%);
    cursor: pointer;
}
button:hover {
    background-color: hsl(154, 80%, 40%);
}
span {
    color: $red;
    text-transform: capitalize;
    font-weight: 600;
}
footer {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    bottom: 0;
    p {
        text-align: center;
        font-size: 11px;
        margin: .4rem;
    }
}
a {
    cursor: pointer;
}
@media screen and (min-width: 1150px) {
    main {
        max-width: 1110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .item {
            max-width: 50%;
        }
    }
    h1 {
        font-size: 3.125rem;
        max-width: 100%;
        text-align: left;
    }
    p {
        font-size: 16px;
        text-align: left;
        margin-left: 0;
    }
    .price {
        h2 {
            min-width: 100%;
        }
    }
    form {
        padding: 2rem;
    }
}