// ### Primary

$red: hsl(0, 100%, 70%);
$green: hsl(154, 100%, 40%);

// ### Accent

$blue: hsl(248, 32%, 49%);

// ### Neutral

$dark-Blue: hsl(249, 10%, 26%);
$grayish-Blue: hsl(246, 25%, 77%);

$font: 'Poppins', sans-serif;

$gap: 1rem;