.flex {
    display: flex;
    gap: $gap, 1rem;
}
.column {
    flex-direction: column;
}
.center {
    margin-inline: auto;
    justify-content: center;
}
.align-items-center    {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}



.text-center {
    text-align: center;
}


.grid {
    display: grid;
    gap: $gap, 1rem;
}


// image center

.img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


